* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: $primary;
}

button {
    font-family: inherit;
}
