//--------------------------
// Breakpoints
//--------------------------
$sm: 560px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

//--------------------------
// Colors
//--------------------------
$black: #002411;
$primary: #01c144;
$secondary: #efff56;

$contentHeight: calc(100vh - 126px);
